html,body{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
*,:before,:after{-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit}
body{font-family:Helvetica,sans-serif;position:relative;width:100%;height:100%;margin:0;padding:0}
a{text-decoration:none}
ul{list-style-type:none;padding:0;margin:0}
picture img{width:100%;max-width:600px;height:auto}
#form{background:url(../img/pvr_pattern_contact.png) repeat}
.header{width:100%;height:60px;position:absolute;z-index:1;text-align:center;display:table-cell;vertical-align:middle;background-color:#faa41a}
.header ul{overflow:hidden;background-color:#faa41a}
.header li a{display:block;padding:20px;border-right:1px solid #f4f4f4;color:#fff;text-decoration:none;font-weight:600;transition:.4s}
.header li a:hover{background-color:#fff;color:#EEA200}
.header_logo{width:100px;height:100px;margin-top:20px;float:left;display:block}
@media only screen and (min-width: 319px) and (max-width: 767px) {
.header_logo{display:none}
}
@media only screen and (min-width: 767px) and (max-width: 1250px) {
.header_logo{margin-left:4%}
}
.lang{position:absolute;right:0;display:inline-block;padding:30px 20px;font-weight:700;background:#212C62;text-decoration:none;color:#fff;font-family:helvetica,sans-serif;line-height:0;transition:all .3s ease;float:right}
.lang:hover{background:#45517C}
.header_menu{clear:both;max-height:0;transition:max-height .2s ease-out}
.header_menu_icon{cursor:pointer;display:inline-block;padding:28px 0;position:relative;user-select:none}
@media only screen and (min-width: 768px) and (max-width: 810px) {
.header_menu_icon{left:-7%}
}
.header .header_menu_icon .navicon{width:25px;height:5px;display:block;background:#212c62;position:relative;transition:background .2s ease-out}
.navicon:before,.navicon:after{width:100%;height:100%;background:#212c62;content:'';display:block;position:absolute;transition:all .2s ease-out}
.navicon:before{top:10px}
.navicon:after{top:-10px}
.header_menu_btn{display:none}
.header_menu_btn:checked ~ .header_menu{max-height:240px}
.header_menu_btn:checked ~ .header_menu_icon .navicon{background:transparent}
.header_menu_btn:checked ~ .header_menu_icon .navicon:before{transform:rotate(-45deg) translate(0px,0px)}
.header_menu_btn:checked ~ .header_menu_icon .navicon:after{transform:rotate(45deg) translate(0px,0px)}
.header_menu_btn:checked ~ .header_menu_icon:not(.steps) .navicon:before,.header_menu_btn:checked ~ .header_menu_icon:not(.steps) .navicon:after{top:0}
@media only screen and (min-width: 811px) {
.header_menu{float:right;clear:none;max-height:none}
.header_menu li{float:left}
.header_menu a{padding:20px 30px}
.header_menu_icon{display:none}
.header_menu_btn{display:none}
}
.hovicon{width:100px;height:100px;border-radius:50%;position:relative}
.hovicon:after{position:absolute;width:100%;height:100%;border-radius:50%;content:'';-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
.hovicon:before{display:block}
.hovicon.effect-9{-webkit-transition:box-shadow .2s;-moz-transition:box-shadow .2s;transition:box-shadow .2s}
.hovicon.effect-9:after{top:0;left:0;padding:0;box-shadow:0 0 0 3px #fff;-webkit-transition:-webkit-transform 0.2s,opacity .2s;-moz-transition:-moz-transform 0.2s,opacity .2s;transition:transform 0.2s,opacity .2s}
.hovicon.effect-9.sub-a:hover:after{-webkit-transform:scale(1.35);-moz-transform:scale(1.35);-ms-transform:scale(1.35);transform:scale(1.35);opacity:.5}
.hovicon.effect-9.sub-a:hover{box-shadow:0 0 0 10px #fff}
.section{width:100%;height:600px;margin:0 auto;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction:column;align-items:center;justify-content:space-between;color:#212c62}
@media only screen and (min-width: 768px) {
.section{height:100vh}
}
.row_1{position:relative;padding:100px 0 0;text-align:center;z-index:0;background:url(../img/02_consulting_ORIG.jpg) no-repeat center bottom}
@media only screen and (min-width: 768px) {
.row_1{display:none}
}
.row1_logo_mobile{width:100px;height:100px}
.section-txt{margin:23% 0 0;padding-left:10%;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction:column;justify-content:flex-end;flex-basis:100%;list-style-type:disc}
@media only screen and (min-width: 600px) {
.section-txt{margin:0}
}
.section-txt li{padding-bottom:3%}
.section-upbtn{margin:3% 0 0;display:block;width:0;height:0;border-style:solid;border-width:0 25px 30px;opacity:.7;transition:all .3s ease}
.section-upbtn:hover{border-width:0 40px 45px;opacity:1}
.row_1_contact{font-size:18px;line-height:30px;padding:0 0 250px}
.row_1_contact a{font-weight:600;color:#212c62;text-decoration:underline;transition:all .2s ease}
.row_1_contact a:hover{color:#faa41a;text-decoration:none}
.row_1_txt{width:100%;padding:10% 1%;border-bottom:10px solid #ededed;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction:column;align-items:center;text-align:center;justify-content:space-around;color:#212c62;background:#ededed}
.row_1_txt h2,.row_1_txt h3,.row_1_txt h4{margin:5% 0}
.row_1_txt ul{padding-left:10%;text-align:left;list-style-type:disc}
.row_1_txt ul li{margin-top:2%}
.row_1_txt ul li:first-child{text-align:center;list-style-type:none;margin-left:-5%}
@media only screen and (min-width: 768px) {
.row_1_txt{display:none}
}.row_2{padding:10% 0 3%;background:#faa41a}
.row_2 picture{margin-top:4%;margin-bottom:50px}
@media only screen and (min-width: 600px) {
.row_2{display:none}
}
.row_2_upbtn{border-color:transparent transparent #212C62}
.row_3{padding:10% 0 3%;color:#fff;background:#212c62}
.row_3 h2{margin:0 0 5%}
.row_3 picture{margin:5% 0 0}
@media only screen and (min-width: 600px) {
.row_3{display:none;flex-direction:row;flex-wrap:wrap;justify-content:space-around}
.row_3 picture{margin:0}
}
.row_3_upbtn{border-color:transparent transparent #FAA41A}
.row_4{padding:2% 0;background:#ededed}
@media only screen and (min-width: 600px) {
.row_4{display:none}
}
.row_4_inner{position:relative;top:50%;transform:translateY(-50%)}
.row_4_inner a{color:#212c62;text-decoration:underline;transition:all .2s ease}
.row_4_inner a:hover{color:#faa41a;text-decoration:none}
.row_4_upbtn{border-color:transparent transparent #faa41a}
.footer_content{text-align:center}
.footer_content li{display:block;margin-bottom:10px}
.footer_content li:last-child{margin-bottom:0;margin-right:0}
.footer{background:#212c62;color:#fff;padding:2% 0}
.footer_content_copyright{font-size:12px}
.footer_content_dev{font-size:14px}
.footer_content_nav{margin-bottom:2%}
.footer_content_nav a{font-weight:700;color:#faa41a}
@media only screen and (min-width: 600px) {
.footer_content_nav li{display:inline-block;margin-right:30px}
}
.container{width:50%}
@media only screen and (min-width: 600px) {
.container{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-wrap:wrap}
}
.container h2{margin-left:60px}
.row_2_tablet{padding:2% 0;display:none;overflow:hidden;position:relative;background:url(../img/pvr_pattern_build.png) repeat #faa41a}
.row_2_tablet h2{margin-left:10%;font-size:40px}
@media only screen and (min-width: 600px) {
.row_2_tablet{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-around}
}
@media only screen and (min-width: 960px) {
.row_2_tablet{font-size:24px}
.row_2_tablet picture{width:40%}
.row_2_tablet h2{font-size:65px}
}
@media only screen and (min-width: 600px) and (max-width: 720px) {
.row_2_tablet h2{margin-left:3%;font-size:40px}
}
.row_2_upbtn_tablet{bottom:2%;left:50%;transform:translateX(-50%);position:absolute;border-color:transparent transparent #212C62}
.row_3_tablet{padding:2% 0;display:none;overflow:hidden;position:relative;color:#fff;background:#212c62}
.row_3_tablet h2{margin-left:10%;font-size:40px}
@media only screen and (min-width: 600px) {
.row_3_tablet{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-around}
}
@media only screen and (min-width: 960px) {
.row_3_tablet{font-size:24px}
.row_3_tablet picture{width:40%;margin-left:auto}
.row_3_tablet h2{font-size:65px}
}
@media only screen and (min-width: 600px) and (max-width: 720px) {
.row_3_tablet h2{margin-left:3%;font-size:40px}
}
.row_3_upbtn_tablet{bottom:2%;left:50%;transform:translateX(-50%);position:absolute;border-color:transparent transparent #FAA41A}
.row_4_tablet{position:relative;display:none;padding:2% 0;background:url(../img/pvr_pattern_contact.png) repeat #fff}
.row_4_tablet h2{margin-left:0;font-size:40px}
.row_4_tablet a{color:#212c62;text-decoration:underline;transition:all .2s ease}
.row_4_tablet a:hover{color:#faa41a;text-decoration:none}
@media only screen and (min-width: 600px) {
.row_4_tablet{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:center}
.row_4_tablet h2{width:100%;text-align:center}
}
@media only screen and (min-width: 960px) {
.row_4_tablet{font-size:24px}
.row_4_tablet h2{font-size:65px}
}
.row_4_container{margin-right:100px}
.row_one_txt{width:50%;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction:column;align-items:flex-start;justify-content:space-between;color:#212c62;text-align:left;font-size:1.2em}
.row_one_txt h2,.row_one_txt h4{margin:0}
.row_one_txt ul{padding-left:1%;text-align:left;list-style-type:disc}
.row_one_txt ul li{margin-bottom:15px}
.row_one_txt ul li:first-child{list-style-type:none}
.row_1_tablet{display:none;position:relative;overflow:hidden;background:url(../img/02_consulting_RET+.jpg) no-repeat bottom right}
.row_1_tablet h2{font-size:70px;line-height:0;margin-left:-5px}
@media only screen and (min-width: 768px) {
.row_1_tablet{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-around;background-size:50%}
}
@media only screen and (min-width: 767px) and (max-width: 1250px) {
.row_1_tablet{padding-left:4%}
.row_1_tablet h2{margin-top:160px;margin-bottom:20px}
}
@media only screen and (min-width: 1401px) {
.row_1_tablet{background-size:700px}
.row_1_tablet h2{font-size:130px}
}
.row_wrap{max-width:1200px;margin:auto;position:relative;padding:0 50px 0 0}
@media only screen and (min-width: 319px) and (max-width: 810px) {
.row_wrap{padding:0}
}