@import 'normalize';
/* media */
$phones: 319px;
$small-screen: 479px;
$medium-screen: 767px;
$normal: 959px;
@mixin respond-to($media) {
  @if $media == hand {
    @media only screen and (min-width: $phones) and (max-width: $small-screen) { @content; } 
  }
  @if $media == hand-all {
    @media only screen and (min-width: $phones) and (max-width: $medium-screen) { @content; } 
  }
  @else if $media == small-screen {
    @media only screen and (min-width: $small-screen + 1) and (max-width: $medium-screen) { @content; }
  }
    @else if $media == small-all {
    @media only screen and (min-width: $small-screen + 1) { @content; }
  }
    @else if $media == medium-screen {
    @media only screen and (min-width: $medium-screen + 1) and (max-width: $normal) { @content; }
  }
    @else if $media == medium-all {
    @media only screen and (min-width: $medium-screen + 1) { @content; }
  }
    @else if $media == normal {
    @media only screen and (min-width: $normal + 1 ) { @content; }
  }
}

/* flexbox */
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

/* tags */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
body {
    font-family: Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* tags */
/* form custom */

.header {
    width: 100%;
//    height: 100px;
    position: absolute;
    text-align: center;
    background-color: #212C62;
    ul {
      overflow: hidden;
      background-color: #FAA41A ;
     }
    li {
        a {
      display: block;
      padding: 20px 20px;
      border-right: 1px solid #f4f4f4;
      color: #212c62;
      text-decoration: none;
            &:hover {
                background-color: #f4f4f4;
            }
        }
    }
}

/* menu */
.header_menu { 
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header_menu_icon {
  cursor: pointer;
  display: inline-block;
//  float: right;
//    transform: translateY(-50%);
  padding: 28px 20px;
  position: relative;
//    margin-top: 15%;
  user-select: none;
}

.header .header_menu_icon .navicon {
  width: 25px;
  height: 5px;
  display: block;
  background: #ededed;
  position: relative;
  transition: background .2s ease-out;
}

.navicon:before,
.navicon:after {
  width: 100%;
  height: 100%;
  background: #ededed;
  content: '';
  display: block;
  position: absolute;
  transition: all .2s ease-out;
}

.navicon:before {
  top: 10px;
}

.navicon:after {
  top: -10px;
}

/* menu btn */
.header_menu_btn {
  display: none;
}
.header_menu_btn:checked ~ .header_menu {
  max-height: 240px;
}

.header_menu_btn:checked ~ .header_menu_icon .navicon {
  background: transparent;
}

.header_menu_btn:checked ~ .header_menu_icon .navicon:before {
  transform: rotate(-45deg) translate(0px, 0px);
}

.header_menu_btn:checked ~ .header_menu_icon .navicon:after {
  transform: rotate(45deg) translate(0px, 0px);
}

.header_menu_btn:checked ~ .header_menu_icon:not(.steps) .navicon:before,
.header_menu_btn:checked ~ .header_menu_icon:not(.steps) .navicon:after {
  top: 0;
}

/*  768px */

@include respond-to(medium-all) {
  .header_menu {
    float: right;
    clear: none;
    max-height: none;
      li {
        float: left;
      }
      a {
        padding: 20px 30px;
      }
  }
  .header_menu_icon {
    display: none;
  }
    .header_menu_btn {
  display: none;
}
}
/*
Оранжевий - FAA41A
Синій - 212C62
Сірий - EDEDED
*/

/* section one */
.row_1 {
    padding: 100px 0 0 0;
    text-align: center;
    background: url(../img/pvr_consulting.png) no-repeat center bottom;
}

.row1_logo_mobile {
    width: 100px;
    height: 100px;
}

.section {
    width: 100%;
    height: 100vh;
    @include flexbox();
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #212c62;
}

.row_1_contact {
    padding: 0 0 250px 0;
    a {
        font-weight: 600;
        color: #212c62;
        text-decoration: underline;
        transition: all .2s ease;
        &:hover {
            color: #faa41a;
            text-decoration: none;
        }
    }
}
.row_1_txt {
    width: 100%;
    height: 100vh;
    padding: 10% 1%;
    @include flexbox();
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #212c62;
    background: #ededed;
    h2, h3, h4 {
        margin: 0;
    }
    ul {
        padding-left: 10%;
        text-align: left;
        list-style-type: disc;
    }
}
.row_2 {
    padding: 2% 0;
    background: #faa41a;
    h2 {
        margin: 0 0 15% 0;
    }
}
.row_2_txt {
    margin: 10% 0;
}

.row_3 {
    padding: 2% 0;
    color: #fff;
    background: #212c62;
    h2 {
        margin: 0 0 15% 0;
    }
}


.row_3_txt {
    margin: 10% 0;
}

.row_4 {
    padding: 2% 0;
    background: #ededed;
}

.row_4_inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    a {
        color: #212c62;
        text-decoration: underline;
        transition: all .2s ease;
        &:hover {
            color: #faa41a;
            text-decoration: none;
        }
    }
}

.footer_content {
    text-align: center;
    li {
        display: block;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.footer {
    background: #212c62;
    color: #fff;
    padding: 2% 0;
}

.footer_content_copyright {
    font-size: 12px;
}

.footer_content_dev {
    font-size: 14px;
}

.footer_content_nav {
    margin-bottom: 2%;
    a {
        font-weight: 700;
        color: #faa41a;
    }
}

.row_2_upbtn {
    border-color: transparent transparent #212C62 transparent;
}

.section-upbtn {
    margin: 2% 0 0 0;
    display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 25px 30px 25px;
	opacity: .7;
	transition: all .3s ease;
    &:hover {
        transform: translateY(-10px);
	    opacity: 1;
    }
}

.row_3_upbtn {
    border-color: transparent transparent #FAA41A transparent;
}

.row_4_upbtn {
    border-color: transparent transparent #faa41a transparent;
}

.section-txt {
    padding-left: 10%;
    @include flexbox();
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 100%;
    list-style-type: disc;
}


#form {
    background: #cecec7;
}

.row_4_txt {
    font-size: 18px;
    line-height: 20px;
}
