//@import 'normalize';
/* media */
$phones: 319px;
$small-screen: 567px;
$medium-screen: 767px;
$normal: 959px;
@mixin respond-to($media) {
  @if $media == hand {
    @media only screen and (min-width: $phones) and (max-width: $small-screen) { @content; } 
  }
  @if $media == hand-all {
    @media only screen and (min-width: $phones) and (max-width: $medium-screen) { @content; } 
  }
  @else if $media == small-screen {
    @media only screen and (min-width: $small-screen + 1) and (max-width: $medium-screen) { @content; }
  }
    @else if $media == small-all {
    @media only screen and (min-width: $small-screen + 1) { @content; }
  }
    @else if $media == medium-screen {
    @media only screen and (min-width: $medium-screen + 1) and (max-width: $normal) { @content; }
  }
    @else if $media == medium-all {
    @media only screen and (min-width: $medium-screen + 1) { @content; }
  }
    @else if $media == normal {
    @media only screen and (min-width: $normal + 1 ) { @content; }
  }
}

/* flexbox */
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

/* tags */
html, body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
body {
  font-family: Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* form custom */
#form {
    background: #cecec7;
}
/* header */
.header {
    width: 100%;
    position: absolute;
    text-align: center;
    background-color: #212C62;
    ul {
      overflow: hidden;
      background-color: #FAA41A ;
     }
    li {
        a {
      display: block;
      padding: 20px 20px;
      border-right: 1px solid #f4f4f4;
      color: #212c62;
      text-decoration: none;
            &:hover {
                background-color: #f4f4f4;
            }
        }
    }
}

/* menu */
/*BUTTON*/
.wrapper {
	width: 90%;
	margin: auto;
	text-align: center;
	padding: 10px 0;
}

#menu-btn {
	display: none;
}

label.menu-icon {
	display: inline-block;
	padding: 10px;
	cursor: pointer;
}

.hamburger {
	position: relative;
	display: block;
	width: 31px;
	height: 6px;
	border-radius: 6px;
	background: #999;
	transition: all .3s ease;
}

.hamburger:before {
	position: absolute;
	top: -11px;
	display: block;
	content:'';
	width: 31px;
	height: 6px;
	border-radius: 6px;
	background: #999;
	transition: all .3s ease;
	transform-origin: 0;
}

.hamburger:after {
	position: absolute;
	bottom: -11px;
	display: block;
	content:'';
	width: 31px;
	height: 6px;
	border-radius: 6px;
	background: #999;
	transition: all .3s ease;
	transform-origin: 0;
}

#menu-btn:checked ~.menu-icon .hamburger { background: none; }
#menu-btn:checked ~.menu-icon .hamburger:before { transform: rotate(45deg); }
#menu-btn:checked ~.menu-icon .hamburger:after { transform: rotate(-45deg); }
/*BUTTON*/

/*MENU*/
.menu-mob {
	padding: 0;
	transition: all .3s ease;
	transform: scaleY(0);
	transform-origin: top center;
}

.active {
	transform: scaleY(1);
}

.menu-mob li {
	list-style: none;
}

.menu-mob li a {
	display: block;
	background: orange;
	padding: 10px 0;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font: 18px Tahoma, sans-serif;
	margin-bottom: 5px;
	transition: all .3s ease;
}

.menu-mob li a:hover {
	background: #fff;
	color: orange
}

//.header_menu { 
//  clear: both;
//  max-height: 0;
//  transition: max-height .2s ease-out;
//}
//
///* menu icon */
//
//.header_menu_icon {
//  cursor: pointer;
//  display: inline-block;
////  float: right;
////    transform: translateY(-50%);
//  padding: 28px 20px;
//  position: relative;
////    margin-top: 15%;
//  user-select: none;
//}
//
//.header .header_menu_icon .navicon {
//  width: 25px;
//  height: 5px;
//  display: block;
//  background: #ededed;
//  position: relative;
//  transition: background .2s ease-out;
//}
//
//.navicon:before,
//.navicon:after {
//  width: 100%;
//  height: 100%;
//  background: #ededed;
//  content: '';
//  display: block;
//  position: absolute;
//  transition: all .2s ease-out;
//}
//
//.navicon:before {
//  top: 10px;
//}
//
//.navicon:after {
//  top: -10px;
//}
//
///* menu btn */
//.header_menu_btn {
//  display: none;
//}
//.header_menu_btn:checked ~ .header_menu {
//  max-height: 240px;
//}
//
//.header_menu_btn:checked ~ .header_menu_icon .navicon {
//  background: transparent;
//}
//
//.header_menu_btn:checked ~ .header_menu_icon .navicon:before {
//  transform: rotate(-45deg) translate(0px, 0px);
//}
//
//.header_menu_btn:checked ~ .header_menu_icon .navicon:after {
//  transform: rotate(45deg) translate(0px, 0px);
//}
//
//.header_menu_btn:checked ~ .header_menu_icon:not(.steps) .navicon:before,
//.header_menu_btn:checked ~ .header_menu_icon:not(.steps) .navicon:after {
//  top: 0;
//}
//
///*  768px */
//
//@include respond-to(medium-all) {
//  .header_menu {
//    float: right;
//    clear: none;
//    max-height: none;
//      li {
//        float: left;
//      }
//      a {
//        padding: 20px 30px;
//      }
//  }
//  .header_menu_icon {
//    display: none;
//  }
//    .header_menu_btn {
//  display: none;
//}
//}
/*
Оранжевий - FAA41A
Синій - 212C62
Сірий - EDEDED
*/
.section {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    @include flexbox();
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #212c62;
    @include respond-to(medium-all) {
        height: 100vh;
    }
}
/* section one */
.row_1 {
    padding: 100px 0 0 0;
    text-align: center;
    background: url(../img/pvr_consulting_opt.jpg) no-repeat center bottom;
    @include respond-to(medium-all) {
        display: none;
    }
}


.row1_logo_mobile {
    width: 100px;
    height: 100px;
}
.section-txt {
    margin: 15% 0;
    padding-left: 10%;
    @include flexbox();
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 100%;
    list-style-type: disc;
    @include respond-to(small-all) {
        margin: 0;
    }
}

.section-upbtn {
    margin: 2% 0 0 0;
    display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 25px 30px 25px;
	opacity: .7;
	transition: all .3s ease;
    &:hover {
        transform: translateY(-10px);
	    opacity: 1;
    }
}

.row_1_contact {
    font-size: 18px;
    line-height: 30px;
    padding: 0 0 250px 0;
    a {
        font-weight: 600;
        color: #212c62;
        text-decoration: underline;
        transition: all .2s ease;
        &:hover {
            color: #faa41a;
            text-decoration: none;
        }
    }
}
.row_1_txt {
    width: 100%;
    height: 100vh;
    padding: 10% 1%;
    @include flexbox();
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    color: #212c62;
    background: #ededed;
    h2, h3, h4 {
        margin: 0;
    }
    ul {
        padding-left: 10%;
        text-align: left;
        list-style-type: disc;
        li {
            &:first-child {
                text-align: center;
                list-style-type: none;
                margin: 0 0 5% -5%;
            }
        }
    }
    @include respond-to(medium-all) {
        display: none;
    }
}
.row_2 {
    padding: 2% 0;
    background: #faa41a;
    h2 {
        margin: 0 0 5% 0;
    }
    picture {
        margin: 50px 0;
    }
    @include respond-to(small-all) {
        display: none;
    }
}
.row_2_txt {
}
.row_2_upbtn {
    border-color: transparent transparent #212C62 transparent;
}

.row_3 {
    padding: 2% 0;
    color: #fff;
    background: #212c62;
    h2 {
        margin: 0 0 5% 0;
    }
    picture {
        margin: 50px 0;
    }
    @include respond-to(small-all) {
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        picture {
            margin: 0;
        }
    }
}

.row_3_txt {
    
}
.row_3_upbtn {
    border-color: transparent transparent #FAA41A transparent;
}

.row_4 {
    padding: 2% 0;
    background: #ededed;
    @include respond-to(small-all) {
        display: none;
    }
}

.row_4_inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    a {
        color: #212c62;
        text-decoration: underline;
        transition: all .2s ease;
        &:hover {
            color: #faa41a;
            text-decoration: none;
        }
    } 
}

.row_4_upbtn {
    border-color: transparent transparent #faa41a transparent;
}
.footer_content {
    text-align: center;
    li {
        display: block;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.footer {
    background: #212c62;
    color: #fff;
    padding: 2% 0;
}

.footer_content_copyright {
    font-size: 12px;
}

.footer_content_dev {
    font-size: 14px;
}

.footer_content_nav {
    margin-bottom: 2%;
    a {
        font-weight: 700;
        color: #faa41a;
    }
    @include respond-to(small-all) {
        li {
            display: inline-block;
            margin-right: 30px;
            
        }
    }
}




.container {
    width: 50%;
    @include respond-to(small-all) {
        @include flexbox();
        flex-wrap: wrap;
//        justify-content: flex-start;
    }
    h2 {
        margin-left: 60px
    }
    
}

.row_2_tablet {
    display: none;
    position: relative;
    padding: 2% 0;
    background: #faa41a;
    @include respond-to(small-all) {
        @include flexbox();
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        picture {
            margin: 0;
        }
    }
}

.row_2_upbtn_tablet {
    bottom: 2%;
    position: absolute;
    border-color: transparent transparent #212C62 transparent;
}

.row_3_tablet {
    padding: 2% 0;
    display: none;
    position: relative;
    color: #fff;
    background: #212c62;
    @include respond-to(small-all) {
        @include flexbox();
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        picture {
            margin: 0;
        }
    }
}

.row_3_upbtn_tablet {
    bottom: 2%;
    position: absolute;
    border-color: transparent transparent #FAA41A transparent;
}

.row_4_tablet {
    position: relative;
    display: none;
    padding: 2% 0;
    background: #ededed;
    a {
        color: #212c62;
        text-decoration: underline;
        transition: all .2s ease;
        &:hover {
            color: #faa41a;
            text-decoration: none;
        }
    } 
    @include respond-to(small-all) {
        @include flexbox();
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        h2 {
            position: absolute;
            top: 0;
        }
    }
}

.row_4_container {
    margin-right: 100px;
}

.row_one_txt {
    width: 40%;
    @include flexbox();
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: #212c62;
    h2, h3, h4 {
        margin: 0;
    }
    ul {
        padding-left: 1%;
        text-align: left;
        list-style-type: disc;
        li {
            &:first-child {
                text-align: center;
                list-style-type: none;
            }
        }
    }
}


.row_1_tablet {
    display: none;
    position: relative;
    padding: 100px 0 0 0;
    @include respond-to(small-all) {
        @include flexbox();
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        picture {
            margin: 0;
        }
    }
}



.row_1_tablet_img {
}
