/* media */
$phones: 319px;
$small-screen: 567px;
$medium-screen: 767px;
$normal: 959px;
$tv: 1400px;
@mixin respond-to($media) {
  @if $media == hand {
    @media only screen and (min-width: $phones) and (max-width: $small-screen) { @content; }
  }
  @if $media == hand-all {
    @media only screen and (min-width: $phones) and (max-width: $medium-screen) { @content; }
  }
  @else if $media == small-screen {
    @media only screen and (min-width: $small-screen + 1) and (max-width: $medium-screen) { @content; }
  }
	@else if $media == small-normal {
    @media only screen and (min-width: $small-screen + 1) and (max-width: $normal) { @content; }
  }
    @else if $media == small-all {
    @media only screen and (min-width: $small-screen + 1) { @content; }
  }
    @else if $media == medium-screen {
    @media only screen and (min-width: $medium-screen + 1) and (max-width: $normal) { @content; }
  }
    @else if $media == medium-all {
    @media only screen and (min-width: $medium-screen + 1) { @content; }
  }
    @else if $media == normal {
    @media only screen and (min-width: $normal + 1 ) { @content; }
  }
	@else if $media == tv {
    @media only screen and (min-width: $tv + 1 ) { @content; }
  }
}

/* flexbox */
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

/* tags */
html, body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
body {
  font-family: Helvetica, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
picture {
	img {
		width: 100%;
		max-width: 600px;
		height: auto;
	}
}
/* form custom */
#form {
    background: #faa41a;
}
/* header */
.header {
    width: 100%;
	height: 60px;
	position: absolute;
    z-index: 1;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-color: #faa41a;
   ul {
     overflow: hidden;
     background-color: #faa41a ;
    }
   li {
       a {
     display: block;
     padding: 20px 20px;
     border-right: 1px solid #f4f4f4;
     color: #fff;
     text-decoration: none;
     font-weight: 600;
  	 transition: 0.4s;
           &:hover {
			  background-color: #fff;
			  color: #EEA200;
//              background-color: #212c62;
           }
       }
   }
}
.header_logo {
	width: 100px;
	height: 100px;
	margin-top: 20px;
	margin-left: 10%;
	float: left;
	display: inline-block;
	background: url(../img/pvr_logo.png) no-repeat center center;
	@include respond-to(hand-all) {
		display: none;
	}
}
/* menu */
.header_menu {
 clear: both;
 max-height: 0;
 transition: max-height .2s ease-out;
}

/* menu icon */

.header_menu_icon {
   cursor: pointer;
   display: inline-block;
  //  transform: translateX(-50%);
  //  left: 50%;
   padding: 28px 0;
   position: relative;
  //  margin-top: 15px;
   user-select: none;
  }

.header .header_menu_icon .navicon {
 width: 25px;
 height: 5px;
 display: block;
 background: #212c62;;
 position: relative;
 transition: background .2s ease-out;
}

.navicon:before,
.navicon:after {
 width: 100%;
 height: 100%;
 background: #212c62;
 content: '';
 display: block;
 position: absolute;
 transition: all .2s ease-out;
}

.navicon:before {
 top: 10px;
}

.navicon:after {
 top: -10px;
}

/* menu btn */
.header_menu_btn {
 display: none;
}
.header_menu_btn:checked ~ .header_menu {
 max-height: 240px;
}

.header_menu_btn:checked ~ .header_menu_icon .navicon {
 background: transparent;
}

.header_menu_btn:checked ~ .header_menu_icon .navicon:before {
 transform: rotate(-45deg) translate(0px, 0px);
}

.header_menu_btn:checked ~ .header_menu_icon .navicon:after {
 transform: rotate(45deg) translate(0px, 0px);
}

.header_menu_btn:checked ~ .header_menu_icon:not(.steps) .navicon:before,
.header_menu_btn:checked ~ .header_menu_icon:not(.steps) .navicon:after {
 top: 0;
}

/*  768px */

@include respond-to(medium-all) {
 .header_menu {
   float: right;
   clear: none;
   max-height: none;
     li {
       float: left;
     }
     a {
       padding: 20px 30px;
     }
 }
 .header_menu_icon {
   display: none;
 }
   .header_menu_btn {
 display: none;
}
}

/* hover logo */
.hovicon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
}
.hovicon:after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.hovicon:before {
    display: block;
}
/* Effect 9 */
 .hovicon.effect-9 {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}
.hovicon.effect-9:after {
    top: 0;
    left: 0;
    padding: 0;
    box-shadow: 0 0 0 3px #fff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}
/* Effect 9a */
.hovicon.effect-9.sub-a:hover:after {
    -webkit-transform: scale(1.35);
    -moz-transform: scale(1.35);
    -ms-transform: scale(1.35);
    transform: scale(1.35);
    opacity: 0.5;
}
.hovicon.effect-9.sub-a:hover {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 1);
}
/*
Оранжевий - FAA41A
Синій - 212C62
Сірий - EDEDED
*/
.section {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    @include flexbox();
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #212c62;
    @include respond-to(medium-all) {
        height: 100vh;
    }
}
/* section one */
.row_1 {
    position: relative;
    padding: 100px 0 0 0;
    text-align: center;
    z-index: 0;
    background: url(../img/pvr_consulting_opt.jpg) no-repeat center bottom;
    @include respond-to(medium-all) {
        display: none;
    }
}


.row1_logo_mobile {
    width: 100px;
    height: 100px;
}
.section-txt {
    margin: 15% 0;
    padding-left: 10%;
    @include flexbox();
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 100%;
    list-style-type: disc;
    @include respond-to(small-all) {
        margin: 0;
    }
}

.section-upbtn {
    margin: 0 0 0 0;
    display: block;
  	width: 0;
  	height: 0;
  	border-style: solid;
  	border-width: 0 25px 30px 25px;
  	opacity: .7;
  	transition: all .3s ease;
    &:hover {
//        transform: scale(2);
  		 border-width: 0 40px 45px 40px;
  	   opacity: 1;
    }
}

.row_1_contact {
    font-size: 18px;
    line-height: 30px;
    padding: 0 0 250px 0;
    a {
        font-weight: 600;
        color: #212c62;
        text-decoration: underline;
        transition: all .2s ease;
        &:hover {
            color: #faa41a;
            text-decoration: none;
        }
    }
}
.row_1_txt {
    width: 100%;
    padding: 10% 1%;
@include flexbox();
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    color: #212c62;
    background: #ededed;
    h2, h3, h4 {
        margin: 5% 0;
    }
    ul {
        padding-left: 10%;
        text-align: left;
        list-style-type: disc;
        li {
			margin-top: 2%;
            &:first-child {
                text-align: center;
                list-style-type: none;
                margin-left: -5%;
            }
        }
    }
    @include respond-to(medium-all) {
        display: none;
    }
}
.row_2 {
    padding: 2% 0;
    background: #faa41a;
    h2 {
        margin: 0 0 5% 0;
    }
    picture {
        margin: 50px 0;
    }
    @include respond-to(small-all) {
        display: none;
    }
}
.row_2_txt {
}
.row_2_upbtn {
    border-color: transparent transparent #212C62 transparent;
}

.row_3 {
    padding: 2% 0;
    color: #fff;
    background: #212c62;
    h2 {
        margin: 0 0 5% 0;
    }
    picture {
        margin: 50px 0;
    }
    @include respond-to(small-all) {
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        picture {
            margin: 0;
        }
    }
}

.row_3_txt {

}
.row_3_upbtn {
    border-color: transparent transparent #FAA41A transparent;
}

.row_4 {
    padding: 2% 0;
    background: #ededed;
    @include respond-to(small-all) {
        display: none;
    }
}

.row_4_inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    a {
        color: #212c62;
        text-decoration: underline;
        transition: all .2s ease;
        &:hover {
            color: #faa41a;
            text-decoration: none;
        }
    }
}

.row_4_upbtn {
    border-color: transparent transparent #faa41a transparent;
}
.footer_content {
    text-align: center;
    li {
        display: block;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.footer {
    background: #212c62;
    color: #fff;
    padding: 2% 0;
}

.footer_content_copyright {
    font-size: 12px;
}

.footer_content_dev {
    font-size: 14px;
}

.footer_content_nav {
    margin-bottom: 2%;
    a {
        font-weight: 700;
        color: #faa41a;
    }
    @include respond-to(small-all) {
        li {
            display: inline-block;
            margin-right: 30px;

        }
    }
}


.container {
    width: 50%;
    @include respond-to(small-all) {
        @include flexbox();
        flex-wrap: wrap;
//        justify-content: flex-start;
    }
    h2 {
        margin-left: 60px
    }

}

.row_2_tablet {
    padding: 2% 0;
    display: none;
	overflow: hidden;
    position: relative;
	background: url(../img/pvr_pattern_build.png) repeat #faa41a;
	h2 {
		margin-left: 10%;
		font-size: 40px;
	}
    @include respond-to(small-all) {
        @include flexbox();
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
	@include respond-to(normal) {
		picture {
			width: 40%;
		}
		h2 {
			font-size: 65px;
		}
	}
}

//.container {
//    width: 50%;
//    @include respond-to(small-normal) {
//        @include flexbox();
//		flex-direction: row;
//        flex-wrap: wrap;
//		justify-content: flex-start;
//    }
//	@include respond-to(normal) {
//		@include flexbox();
//    	flex-direction: column;
//		align-items: flex-end;
//		justify-content: space-between;
//	}
//
//}
//
//.row_2_tablet {
//    padding: 2% 0;
//    display: none;
//    position: relative;
//	background: #faa41a;
////    background: url(../img/pvr_build_retina.png) no-repeat center left  -20% #faa41a;
//    @include respond-to(small-normal) {
//        @include flexbox();
//    	flex-direction: column;
//    	align-items: flex-end;
//    	justify-content: space-between;
//        picture {
//            margin: 0;
//			width: 50%;
//			height: auto;
//        }
//    }
//	@include respond-to(normal) {
//        @include flexbox();
//    	flex-direction: column;
//    	align-items: center;
//    	justify-content: space-between;
//	}
//	@include respond-to(medium-screen) {
//		h2 {
//			font-size: 100px;
//		}
//	}
//	@include respond-to(normal) {
//		background-size: 50%;
//		h2 {
//			font-size: 150px;
//			line-height: 0;
//		}
//		ul {
//			font-size: 1.2em;
//			li {
//				margin-bottom: 15px;
//			}
//		}
//	}
//	@include respond-to(tv) {
//		background-size: 700px;
//	}
//    h2 {
//        margin-left: 60px;
//
//    }
//}

.row_2_upbtn_tablet {
    bottom: 2%;
	left: 50%;
	transform: translateX(-50%);
    position: absolute;
    border-color: transparent transparent #212C62 transparent;
}

.row_3_tablet {
    padding: 2% 0;
    display: none;
	overflow: hidden;
    position: relative;
    color: #fff;
    background: #212c62;
	h2 {
		margin-left: 10%;
		font-size: 40px;
	}
    @include respond-to(small-all) {
        @include flexbox();
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
	@include respond-to(normal) {
		picture {
			width: 40%;
			margin-left: auto;
		}
		h2 {
			font-size: 65px;
		}
	}
}

.row_3_upbtn_tablet {
    bottom: 2%;
	left: 50%;
	transform: translateX(-50%);
    position: absolute;
    border-color: transparent transparent #FAA41A transparent;
}

.row_4_tablet {
    position: relative;
    display: none;
    padding: 2% 0;
    background: url(../img/pvr_pattern_contact.png) repeat #fff;
	h2 {
		margin-left: 0;
		font-size: 40px;
	}
    a {
        color: #212c62;
        text-decoration: underline;
        transition: all .2s ease;
        &:hover {
            color: #faa41a;
            text-decoration: none;
        }
    }
    @include respond-to(small-all) {
        @include flexbox();
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        h2 {
			width: 100%;
			text-align: center;
//            top: 0;
//			left: 50%;
//			transform: translateX(-50%);
//            position: absolute;
        }
    }
	@include respond-to(normal) {
		h2 {
			font-size: 65px;
			
		}
	}
}

.row_4_container {
    margin-right: 100px;
}

.row_one_txt {
    width: 40%;
    @include flexbox();
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: #212c62;
	text-align: left;
	font-size: 1.2em;
    h2, h4 {
        margin: 0;
    }
	h3 {

	}
    ul {
        padding-left: 1%;
        text-align: left;
        list-style-type: disc;
        li {
			margin-bottom: 15px;
            &:first-child {
                list-style-type: none;
            }
        }
    }
}

.row_1_tablet {
    display: none;
    position: relative;
	overflow: hidden;
	background: url('../img/pvr_consulting_retina.png') no-repeat bottom right -15%;
	h2 {
	   font-size: 100px;
	   line-height: 0;
		margin-left: -10px;
	}
    @include respond-to(medium-all) {
        @include flexbox();
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
		background-size: 50%;
    }
	@include respond-to(tv) {
		background-size: 700px;
		h2 {
			font-size: 150px;
		}
	}
}



.row_1_tablet_img {
}

.row_wrap {
	max-width: 1200px;
	padding: 0 0 0 4%;
}


