@charset "UTF-8";
/* media */
/* flexbox */
/* tags */
/* line 63, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
html, body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 70, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* line 75, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
body {
  font-family: Helvetica, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

/* line 83, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
a {
  text-decoration: none; }

/* line 86, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

/* line 92, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
picture img {
  width: 100%;
  max-width: 600px;
  height: auto; }

/* form custom */
/* line 99, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
#form {
  background: #faa41a; }

/* header */
/* line 103, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.header {
  width: 100%;
  height: 60px;
  position: absolute;
  z-index: 1;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  background-color: #faa41a; }
  /* line 112, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
  .header ul {
    overflow: hidden;
    background-color: #faa41a; }
  /* line 117, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: 0.4s; }
    /* line 125, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .header li a:hover {
      background-color: #fff;
      color: #EEA200; }

/* line 133, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.header_logo {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 10%;
  float: left;
  display: inline-block;
  background: url(../img/pvr_logo.png) no-repeat center center; }
  @media only screen and (min-width: 319px) and (max-width: 767px) {
    /* line 133, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .header_logo {
      display: none; } }

/* menu */
/* line 146, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.header_menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out; }

/* menu icon */
/* line 154, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.header_menu_icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 0;
  position: relative;
  user-select: none; }

/* line 165, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.header .header_menu_icon .navicon {
  width: 25px;
  height: 5px;
  display: block;
  background: #212c62;
  position: relative;
  transition: background 0.2s ease-out; }

/* line 175, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.navicon:before,
.navicon:after {
  width: 100%;
  height: 100%;
  background: #212c62;
  content: '';
  display: block;
  position: absolute;
  transition: all 0.2s ease-out; }

/* line 185, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.navicon:before {
  top: 10px; }

/* line 189, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.navicon:after {
  top: -10px; }

/* menu btn */
/* line 194, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.header_menu_btn {
  display: none; }

/* line 197, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.header_menu_btn:checked ~ .header_menu {
  max-height: 240px; }

/* line 201, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.header_menu_btn:checked ~ .header_menu_icon .navicon {
  background: transparent; }

/* line 205, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.header_menu_btn:checked ~ .header_menu_icon .navicon:before {
  transform: rotate(-45deg) translate(0px, 0px); }

/* line 209, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.header_menu_btn:checked ~ .header_menu_icon .navicon:after {
  transform: rotate(45deg) translate(0px, 0px); }

/* line 214, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.header_menu_btn:checked ~ .header_menu_icon:not(.steps) .navicon:before,
.header_menu_btn:checked ~ .header_menu_icon:not(.steps) .navicon:after {
  top: 0; }

/*  768px */
@media only screen and (min-width: 768px) {
  /* line 221, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
  .header_menu {
    float: right;
    clear: none;
    max-height: none; }
    /* line 225, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .header_menu li {
      float: left; }
    /* line 228, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .header_menu a {
      padding: 20px 30px; }
  /* line 232, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
  .header_menu_icon {
    display: none; }
  /* line 235, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
  .header_menu_btn {
    display: none; } }

/* hover logo */
/* line 241, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.hovicon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative; }

/* line 247, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.hovicon:after {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* line 257, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.hovicon:before {
  display: block; }

/* Effect 9 */
/* line 261, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.hovicon.effect-9 {
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s; }

/* line 266, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.hovicon.effect-9:after {
  top: 0;
  left: 0;
  padding: 0;
  box-shadow: 0 0 0 3px #fff;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s; }

/* Effect 9a */
/* line 276, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.hovicon.effect-9.sub-a:hover:after {
  -webkit-transform: scale(1.35);
  -moz-transform: scale(1.35);
  -ms-transform: scale(1.35);
  transform: scale(1.35);
  opacity: 0.5; }

/* line 283, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.hovicon.effect-9.sub-a:hover {
  box-shadow: 0 0 0 10px white; }

/*
Оранжевий - FAA41A
Синій - 212C62
Сірий - EDEDED
*/
/* line 291, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.section {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #212c62; }
  @media only screen and (min-width: 768px) {
    /* line 291, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .section {
      height: 100vh; } }

/* section one */
/* line 305, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.row_1 {
  position: relative;
  padding: 100px 0 0 0;
  text-align: center;
  z-index: 0;
  background: url(../img/pvr_consulting_opt.jpg) no-repeat center bottom; }
  @media only screen and (min-width: 768px) {
    /* line 305, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .row_1 {
      display: none; } }

/* line 317, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.row1_logo_mobile {
  width: 100px;
  height: 100px; }

/* line 321, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.section-txt {
  margin: 15% 0;
  padding-left: 10%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-basis: 100%;
  list-style-type: disc; }
  @media only screen and (min-width: 568px) {
    /* line 321, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .section-txt {
      margin: 0; } }

/* line 334, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.section-upbtn {
  margin: 0 0 0 0;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 30px 25px;
  opacity: .7;
  transition: all 0.3s ease; }
  /* line 343, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
  .section-upbtn:hover {
    border-width: 0 40px 45px 40px;
    opacity: 1; }

/* line 350, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.row_1_contact {
  font-size: 18px;
  line-height: 30px;
  padding: 0 0 250px 0; }
  /* line 354, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
  .row_1_contact a {
    font-weight: 600;
    color: #212c62;
    text-decoration: underline;
    transition: all 0.2s ease; }
    /* line 359, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .row_1_contact a:hover {
      color: #faa41a;
      text-decoration: none; }

/* line 365, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.row_1_txt {
  width: 100%;
  padding: 10% 1%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  color: #212c62;
  background: #ededed; }
  /* line 375, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
  .row_1_txt h2, .row_1_txt h3, .row_1_txt h4 {
    margin: 5% 0; }
  /* line 378, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
  .row_1_txt ul {
    padding-left: 10%;
    text-align: left;
    list-style-type: disc; }
    /* line 382, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .row_1_txt ul li {
      margin-top: 2%; }
      /* line 384, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
      .row_1_txt ul li:first-child {
        text-align: center;
        list-style-type: none;
        margin-left: -5%; }
  @media only screen and (min-width: 768px) {
    /* line 365, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .row_1_txt {
      display: none; } }

/* line 395, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.row_2 {
  padding: 2% 0;
  background: #faa41a; }
  /* line 398, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
  .row_2 h2 {
    margin: 0 0 5% 0; }
  /* line 401, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
  .row_2 picture {
    margin: 50px 0; }
  @media only screen and (min-width: 568px) {
    /* line 395, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .row_2 {
      display: none; } }

/* line 410, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.row_2_upbtn {
  border-color: transparent transparent #212C62 transparent; }

/* line 414, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.row_3 {
  padding: 2% 0;
  color: #fff;
  background: #212c62; }
  /* line 418, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
  .row_3 h2 {
    margin: 0 0 5% 0; }
  /* line 421, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
  .row_3 picture {
    margin: 50px 0; }
  @media only screen and (min-width: 568px) {
    /* line 414, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .row_3 {
      display: none;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around; }
      /* line 429, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
      .row_3 picture {
        margin: 0; } }

/* line 438, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.row_3_upbtn {
  border-color: transparent transparent #FAA41A transparent; }

/* line 442, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.row_4 {
  padding: 2% 0;
  background: #ededed; }
  @media only screen and (min-width: 568px) {
    /* line 442, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .row_4 {
      display: none; } }

/* line 450, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.row_4_inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
  /* line 454, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
  .row_4_inner a {
    color: #212c62;
    text-decoration: underline;
    transition: all 0.2s ease; }
    /* line 458, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .row_4_inner a:hover {
      color: #faa41a;
      text-decoration: none; }

/* line 465, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.row_4_upbtn {
  border-color: transparent transparent #faa41a transparent; }

/* line 468, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.footer_content {
  text-align: center; }
  /* line 470, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
  .footer_content li {
    display: block;
    margin-bottom: 10px; }
    /* line 473, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .footer_content li:last-child {
      margin-bottom: 0; }

/* line 479, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.footer {
  background: #212c62;
  color: #fff;
  padding: 2% 0; }

/* line 485, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.footer_content_copyright {
  font-size: 12px; }

/* line 489, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.footer_content_dev {
  font-size: 14px; }

/* line 493, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.footer_content_nav {
  margin-bottom: 2%; }
  /* line 495, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
  .footer_content_nav a {
    font-weight: 700;
    color: #faa41a; }
  @media only screen and (min-width: 568px) {
    /* line 500, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .footer_content_nav li {
      display: inline-block;
      margin-right: 30px; } }

/* line 509, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.container {
  width: 50%; }
  @media only screen and (min-width: 568px) {
    /* line 509, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap; } }
  /* line 516, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
  .container h2 {
    margin-left: 60px; }

/* line 522, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.row_2_tablet {
  padding: 2% 0;
  display: none;
  overflow: hidden;
  position: relative;
  background: url(../img/pvr_pattern_build.png) repeat #faa41a; }
  /* line 528, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
  .row_2_tablet h2 {
    margin-left: 10%;
    font-size: 40px; }
  @media only screen and (min-width: 568px) {
    /* line 522, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .row_2_tablet {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around; } }
  @media only screen and (min-width: 960px) {
    /* line 539, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .row_2_tablet picture {
      width: 40%; }
    /* line 542, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .row_2_tablet h2 {
      font-size: 65px; } }

/* line 615, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.row_2_upbtn_tablet {
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border-color: transparent transparent #212C62 transparent; }

/* line 623, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.row_3_tablet {
  padding: 2% 0;
  display: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  background: #212c62; }
  /* line 630, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
  .row_3_tablet h2 {
    margin-left: 10%;
    font-size: 40px; }
  @media only screen and (min-width: 568px) {
    /* line 623, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .row_3_tablet {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around; } }
  @media only screen and (min-width: 960px) {
    /* line 641, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .row_3_tablet picture {
      width: 40%;
      margin-left: auto; }
    /* line 645, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .row_3_tablet h2 {
      font-size: 65px; } }

/* line 651, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.row_3_upbtn_tablet {
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border-color: transparent transparent #FAA41A transparent; }

/* line 659, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.row_4_tablet {
  position: relative;
  display: none;
  padding: 2% 0;
  background: url(../img/pvr_pattern_contact.png) repeat #fff; }
  /* line 664, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
  .row_4_tablet h2 {
    margin-left: 0;
    font-size: 40px; }
  /* line 668, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
  .row_4_tablet a {
    color: #212c62;
    text-decoration: underline;
    transition: all 0.2s ease; }
    /* line 672, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .row_4_tablet a:hover {
      color: #faa41a;
      text-decoration: none; }
  @media only screen and (min-width: 568px) {
    /* line 659, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .row_4_tablet {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
      /* line 682, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
      .row_4_tablet h2 {
        width: 100%;
        text-align: center; } }
  @media only screen and (min-width: 960px) {
    /* line 692, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .row_4_tablet h2 {
      font-size: 65px; } }

/* line 699, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.row_4_container {
  margin-right: 100px; }

/* line 703, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.row_one_txt {
  width: 40%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: #212c62;
  text-align: left;
  font-size: 1.2em; }
  /* line 712, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
  .row_one_txt h2, .row_one_txt h4 {
    margin: 0; }
  /* line 718, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
  .row_one_txt ul {
    padding-left: 1%;
    text-align: left;
    list-style-type: disc; }
    /* line 722, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .row_one_txt ul li {
      margin-bottom: 15px; }
      /* line 724, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
      .row_one_txt ul li:first-child {
        list-style-type: none; }

/* line 731, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.row_1_tablet {
  display: none;
  position: relative;
  overflow: hidden;
  background: url("../img/pvr_consulting_retina.png") no-repeat bottom right -15%; }
  /* line 736, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
  .row_1_tablet h2 {
    font-size: 100px;
    line-height: 0;
    margin-left: -10px; }
  @media only screen and (min-width: 768px) {
    /* line 731, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .row_1_tablet {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      background-size: 50%; } }
  @media only screen and (min-width: 1401px) {
    /* line 731, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
    .row_1_tablet {
      background-size: 700px; }
      /* line 750, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
      .row_1_tablet h2 {
        font-size: 150px; } }

/* line 761, D:/X/OpenServer/domains/fckn.github.io/css/style.scss */
.row_wrap {
  max-width: 1200px;
  padding: 0 0 0 4%; }

/*# sourceMappingURL=style.css.map */